<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.recommenders.privacy.rcp.principals">
      <principal
            description="Code Recommenders Privacy framework."
            id="org.eclipse.recommenders.privacy.example"
            name="Example Project">
      </principal>
   </extension>
   <extension
         point="org.eclipse.recommenders.privacy.rcp.permissions">
      <permission
            datumId="org.eclipse.recommenders.privacy.datums.javaVersion"
            policyUri="http://www.example.org/policy/javaversion"
            principalId="org.eclipse.recommenders.privacy.example"
            purpose="Your java version will be send to the Example project.">
      </permission>
   </extension>

</plugin>
