<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.recommenders.privacy.rcp.principals">
		<principal id="org.eclipse.recommenders.privacy.example.rcp.principals.example"
			name="%principals.example.name"
			description="%principals.example.description"/>
	</extension>
	<extension point="org.eclipse.recommenders.privacy.rcp.permissions">
		<permission
			datumId="org.eclipse.recommenders.privacy.rcp.datums.heartbeat"
			policyUri="http://www.example.org/policy/heartbeat"
			principalId="org.eclipse.recommenders.privacy.example.rcp.principals.example"
			purpose="%permissions.heartbeat.purpose"
			configurationDialogFactory="org.eclipse.recommenders.internal.privacy.example.rcp.dialogs.HeartbeatConfigurationFactory"/>
		<permission
			datumId="org.eclipse.recommenders.privacy.rcp.datums.anonymousId"
			policyUri="http://www.example.org/policy/anonymousId"
			principalId="org.eclipse.recommenders.privacy.example.rcp.principals.example"
			purpose="%permissions.anonymousId.purpose"/>
	</extension>
</plugin>
