<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.recommenders.privacy.rcp.principals">
		<principal id="org.eclipse.recommenders.privacy.example.rcp.principals.example"
			name="%principals.example.name"
			description="%principals.example.description"/>
	</extension>
	<extension point="org.eclipse.recommenders.privacy.rcp.permissions">
		<permission
			datumId="org.eclipse.recommenders.privacy.rcp.datums.javaVersion"
			principalId="org.eclipse.recommenders.privacy.example.rcp.principals.example"
			policyUri="http://www.example.org/policy/javaVersion"
			purpose="%permissions.javaVersion.purpose"/>
		<permission
			datumId="org.eclipse.recommenders.privacy.rcp.datums.userId"
			policyUri="http://www.example.org/policy/userId"
			principalId="org.eclipse.recommenders.privacy.example.rcp.principals.example"
			purpose="%permissions.userId.purpose"/>
	</extension>
</plugin>
