<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="org.eclipse.recommenders.privacy.rcp.datums" name="%extension-point.datums.name" schema="schema/datums.exsd"/>
	<extension-point id="org.eclipse.recommenders.privacy.rcp.permissions" name="%extension-point.permissions.name" schema="schema/permissions.exsd"/>
	<extension-point id="org.eclipse.recommenders.privacy.rcp.principals" name="%extension-point.principals.name" schema="schema/principals.exsd"/>
	<extension point="org.eclipse.ui.preferencePages">
		<page id="org.eclipse.recommenders.privacy.rcp.preferencesPages.privacy"
			category="org.eclipse.ui.preferencePages.Workbench"
			class="org.eclipse.recommenders.internal.privacy.rcp.preferences.PrivacyPreferencePage"
			name="%preferencePages.privacy.name"/>
		<page id="org.eclipse.recommenders.privacy.rcp.preferencesPages.anonymousId"
			category="org.eclipse.recommenders.privacy.rcp.preferencesPages.privacy"
			class="org.eclipse.recommenders.internal.privacy.rcp.preferences.AnonymousIdPreferencePage"
			name="%preferencePages.anonymousId.name"/>
	</extension>
	<extension point="org.eclipse.ui.preferenceTransfer">
		<transfer id="org.eclipse.recommenders.privacy.rcp.transfer.permissions"
			icon="icons/view16/logo.png"
			name="%preferenceTransfer.permissions.name">
			<description>%preferenceTransfer.permissions.description</description>
			<mapping scope="instance">
				<entry node="org.eclipse.recommenders.privacy.rcp.permissions"/>
			</mapping>
		</transfer>
	</extension>
	<extension point="org.eclipse.recommenders.privacy.rcp.datums">
		<datum id="org.eclipse.recommenders.privacy.rcp.datums.javaVersion"
			icon="icons/obj16/javaVersion.gif"
			name="%datums.javaVersion.name"
			description="%datums.javaVersion.description"/>
		<datum id="org.eclipse.recommenders.privacy.rcp.datums.inet4Address"
			icon="icons/obj16/inet4Address.gif"
			name="%datums.inet4Address.name"
			description="%datums.inet4Address.description"/>
		<datum id="org.eclipse.recommenders.privacy.rcp.datums.inet6Address"
			icon="icons/obj16/inet6Address.gif"
			name="%datums.inet6Address.name"
			description="%datums.inet6Address.description"/>
		<datum id="org.eclipse.recommenders.privacy.rcp.datums.anonymousId"
			icon="icons/obj16/anonymousId.gif"
			name="%datums.anonymousId.name"
			description="%datums.anonymousId.description"/>
	</extension>
	<extension point="org.eclipse.ui.startup">
		<startup class="org.eclipse.recommenders.internal.privacy.rcp.Startup"/>
	</extension>
</plugin>
